.App {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* TASK ONE */
.task-one__section {
  display: block;

  details {
    border: 1px solid #ccc;
    cursor: pointer;


    summary {
      padding: 8px 16px;

      &:hover {
        background-color: #ccc;
      }

    }

    p {
      padding: 0 16px;
    }
  }

}


.stress-level {
  font-size: 48px;
}

.todo-container {
  width: 50%;
  padding: 16px;
  border: 1px solid blue;
  border-radius: 4px;
}

.todo-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 16px;
  margin: 8px 0px;
  min-height: 64px;
  background-color: #aaa;
  color: white;
  border-radius: 4px;

  input {
    font-size: 18px;
    min-width: 180px;
    height: 42px;
    color: black;
  }

  select {
    height: 42px;
    width: 100%;
    font-size: 14px;
  }

}

.add-task {
  background-color: white;
  border: 1px dashed blue;
  color: black;
}